In [8]:
library(tidyverse)
library(readr)
library(tidymodels)

In [32]:
import_ad_data <- read_csv("Data/ad.data.csv", col_names = FALSE, col_select = c("X1", "X2", "X3", "X1560", "X1559"), n_max = 1000)
ad_data <- rename(import_ad_data, Height = X1, Width = X2, Ratio = X3, Attributes = X1560, Type = X1559) |>
           filter(Height != "?" , Width != "?" , Ratio != "?") |>
           arrange (Attributes)

total_type <- ad_data |>
              group_by(Type) |>
              summarize(n = n())
total_type

type_factor <- ad_data |>
               mutate(Type = as_factor(Type))
type_factor

Rows: 1000 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): X1, X2, X3, X1559
dbl (1): X1560

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Type   n
1 ad.    386
2 nonad. 370

    Height Width Ratio  Attributes Type
1   88     520   5.909  0          ad.
2   51     433   8.4901 0          ad.
3   60     468   7.8    0          nonad.
4   54     239   4.4259 0          nonad.
5   116    200   1.7241 0          nonad.
6   40     40    1      0          nonad.
7   31     96    3.0967 1          ad.
8   60     468   7.8    1          ad.
9   60     468   7.8    1          ad.
10  45     345   7.6666 1          ad.
11  41     239   5.8292 1          nonad.
12  46     109   2.3695 1          nonad.
13  159    209   1.3144 1          nonad.
14  160    199   1.2437 1          nonad.
15  135    106   0.7851 1          nonad.
16  50     45    0.9    1          nonad.
17  207    200   0.9661 1          nonad.
18  46     109   2.3695 1          nonad.
19  16     16    1      1          nonad.
20  46     109   2.3695 1          nonad.
21  41     239   5.8292 1          nonad.
22  46     109   2.3695 1          nonad.
23  46     109   2.3695 1          nonad.
24  14     30    2.1428 1          nonad.
25  98     198   2.0204 1          nonad.
26  200    242   1.21   1          nonad.
27  16     16    1      1          nonad.
28  50     200   4      1          nonad.
29  85     237   2.7882 1          nonad.
30  75     150   2      1          nonad.
⋮   ⋮      ⋮     ⋮      ⋮          ⋮
727 60     468   7.8    41         ad.
728 125    125   1      41         ad.
729 125    125   1      41         ad.
730 60     468   7.8    42         ad.
731 60     468   7.8    42         ad.
732 60     468   7.8    42         ad.
733 125    125   1      42         ad.
734 120    125   1.0416 43         ad.
735 60     468   7.8    43         ad.
736 60     468   7.8    44         ad.
737 60     468   7.8    44         ad.
738 125    125   1      44         ad.
739 125    125   1      45         ad.
740 60     468   7.8    46         ad.
741 125    125   1      46         ad.
742 60     468   7.8    46         ad.
743 60     468   7.8    47         ad.
744 60     468   7.8    48         ad.
745 60     468   7.8    52         ad.
746 60     468   7.8    52         ad.
747 60     468   7.8    52         ad.
748 60     468   7.8    53         ad.
749 125    125   1      53         ad.
750 60     468   7.8    53         ad.
751 60     468   7.8    53         ad.
752 60     468   7.8    53         ad.
753 125    125   1      55         ad.
754 125    125   1      58         ad.
755 60     468   7.8    60         ad.
756 60     468   7.8    69         ad.